<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<style>
  body {
    padding-top: 70px;
  }
</style>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <title>Parivartan "Ek Chakra"</title>
</head>

<body>
  <script src="js/jquery.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.js"></script>
  <div class="container-fluid nav_bg px-0 fixed-top">
    <div class="row">
      <div class="col-md-12 py-1">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="{% url 'home">
            <img src="images/Tyro.png" alt="" width="30" height="30"
              class="d-inline-block align-text-top">
            <!-- <img src="images/q1.png" alt="" width="80" height="30"
              class="d-inline-block align-text-top"> -->
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
              <li class="nav-item">
                <a href="home.html" class="nav-link">Home</a>
              </li>
              <!-- {% if request.user.is_authenticated %} -->
              <li class=" nav-item">
            <a href="register_event.html" class="nav-link">Events</a>
            </li>
            <li class="nav-item">
              <a href="event_summary.html" class="nav-link">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="logout.html">Logout</a>
            </li>
            <li class="nav-item">
              <form action="{% url 'search_pid" method="POST" class="form-inline" novalidate>
                  <!-- {% csrf_token %} -->
                  <input class=" form-control mx-sm-2" type="search" placeholder="Enter Roll Number" name="roll_no"
                aria-label="Search">
                <button class="btn btn-nav my-2 my-sm-0" type="submit">Search PID</button>
              </form>
            </li>

            </li>
            <!-- {% endif %} -->
            </ul>
      </div>
      </nav>
    </div>
  </div>
  </div>
<!-- {% block content %} -->
<div class="container">
  <div class="row rounded mt-4 bg-warning">
    <div class="col-md-12 p-2 text-center">
      <h4>Event Details</h4>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <table class="table table-bordered table-hover bg-white">
        <thead>
          <tr class="text-center">
            <th scope="col" style="width:33%">PID</th>
            <th scope="col" style="width:35%">Participant Name</th>
            <th scope="col" style="width:37%">College Name</th>
          </tr>
        </thead>
        <tbody>
          <!-- {% for pid in pids %} -->
          <tr>
            <td class="align-middle text-center p-2">{{pid.id}}</td>
            <td class="text-center align-middle p-2">{{pid.name}}</td>
            <td class="align-middle text-center p-2">{{pid.college_name}}</td>
          </tr>
          <!-- {% endfor %} -->
        </tbody>
      </table>
    </div>
  </div>
  <div class="row d-print-none">
    <div class="col-md-12 mt-2  text-center">
      <form>
        <input class="btn btn-color serach-btn " type="button" value="Print this page" onClick="window.print()">
        <a href="event_summary.html" class="btn btn-color serach-btn ">View Summary</a>
      </form>
    </div>
  </div>
</div>

  <!-- Footer -->

  <!-- Footer -->
<!-- footer -->
<div class="concontainer-fluid footer-bg-1 mt-5 px-0 d-print-none fixed-bottom">
  <div class="container">
    <div class="row justify-content-center text-white text-center">
      <div class="col-md-8 py-4 ">
        <h4>Shri Ram Murti Smarak College of Engineering and Technology</h4>
        <p class="mb-0">Powered by: Department of Electrical and Electronics Engineering</p>
        <p class="mb-0">Developed by</p>
        <a class="text-white" href="#">Rishabh Srivastava</a>
      </div>
    </div>
  </div>
  <div class="concontainer-fluid footer-bg-2 px-0 d-print-none">
    <div class="container">
      <div class="row footer-bg-2">
        <div class="col-md-6 text-white pt-2">
          &copy; Zest2K22
        </div>
        <div class="col-md-6">
          <ul class="social float-md-right">
            <li><a class="fab fa-facebook" href=""></a></li>
            <li><a class="fab fa-instagram" href=""></a></li>
            <li><a class="fab fa-whatsapp" href=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

</div>